<div class="padding-global"><div class="container-large"><div class="padding-section-medium"><div class="layout196_component"><div class="w-layout-grid layout196_content"><img id="w-node-_97b6a7aa-1f20-1dcb-8166-71389377ec71-6780cb74" alt="{{ section.settings.image_hero_image.alt }}" src="{{ section.settings.image_hero_image | img_url: 'master' }}" loading="lazy" class="layout196_lightbox-image">
<div id="w-node-_97b6a7aa-1f20-1dcb-8166-71389377ec75-6780cb74" class="layout196_content-right"><div li-section="Video Preview Header" class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div><div class="margin-bottom margin-medium"><div class="text-size-medium"> {{ section.settings.richtext_body }} </div>
</div><div class="w-layout-grid layout196_item-list"><div class="layout196_text-wrapper"><div class="margin-bottom margin-xsmall"><h3 class="heading-style-h6">
{{ section.settings.text_heading_2 }}
</h3>
</div><p>
{{ section.settings.text_paragraph_2 }}
</p>
</div><div class="layout196_text-wrapper"><div class="margin-bottom margin-xsmall"><h3 class="heading-style-h6">
{{ section.settings.text_heading_3 }}
</h3>
</div><p>
{{ section.settings.text_paragraph_3 }}
</p>
</div></div><div class="div-block-11"><div class="layout196_text-wrapper"><div class="margin-bottom margin-xsmall"><h3 class="heading-style-h6">
{{ section.settings.text_heading_4 }}
</h3>
</div><p>
{{ section.settings.text_paragraph_4 }}
</p>
</div></div><div class="margin-medium margin-top"><div class="button-group align-left"><a href="{{ section.settings.url_link_secondary }}" class="button is-link-alternate w-inline-block"> <div>{{ section.settings.text_secondary_link_text }}</div> </a>
<a href="{{ section.settings.url_schedule_url }}" class="button is-secondary w-button"> Schedule a Consult </a>
<a href="{{ section.settings.url_launch_url }}" class="button w-button"> Start Now </a>
</div></div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Hero Banner ","class":"section_layout196","settings":[{"id":"image_hero_image","type":"image_picker","label":"Hero Image"},{"id":"text_headline","type":"text","label":"Headline","default":"Design Your Dream Space with Ease"},{"id":"richtext_body","type":"richtext","label":"Body","default":"<p>Our 3D planning software simplifies your design process. Create stunning layouts effortlessly and visualize your ideas.<\/p>"},{"id":"text_heading_2","type":"text","label":"Heading 2","default":"User-Friendly"},{"id":"text_paragraph_2","type":"text","label":"Paragraph 2","default":"Navigate the software with ease, no design experience required."},{"id":"text_heading_3","type":"text","label":"Heading 3","default":"Starter Templates"},{"id":"text_paragraph_3","type":"text","label":"Paragraph 3","default":"Choose from a variety of pre-designed templates to kickstart your project."},{"id":"text_heading_4","type":"text","label":"Heading 4","default":"Free Design Consults"},{"id":"text_paragraph_4","type":"text","label":"Paragraph 4","default":"Not sure where to start, or just have questions? Our team can schedule a virtual meeting to help with your design process."},{"id":"url_link_secondary","type":"url","label":"Link Secondary"},{"id":"text_secondary_link_text","type":"text","label":"Secondary Link Text","default":"Learn More"},{"id":"url_schedule_url","type":"url","label":"Schedule URL"},{"id":"url_launch_url","type":"url","label":"Launch URL"}],"presets":[{"name":"Hero Banner ","category":"Liquify","blocks":[]}]} {% endschema %}